@import "../../assets/scss/functions";
@import "../../assets/scss/mixins";
.pagination {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: vw(80);
  &__btn {
    width: vw(41);
    height: vw(41);
    border-radius: 5px;
    font-weight: 500;
    font-size: vw(20);
    line-height: vw(21);
    &.pagination-btn__active {
      background: #00ac4e;
      color: #fff;
    }
    &:not(:last-child) {
      margin-right: vw(12);
    }
  }
}
