@import "../../assets/scss/functions";
@import "../../assets/scss/mixins";

.menu {
  width: 100%;
  height: 100%;
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__categoryNow {
    font-weight: 500;
    font-size: vw(28);
    line-height: vw(30);
    color: #000000;
    margin-bottom: vw(40);
  }
  &__carts {
    display: grid;
    grid-template-columns: repeat(4, vw(250));
    grid-column-gap: vw(56);
    grid-row-gap: vw(56);
  }
}
