@import "../../assets/scss/functions";
@import "../../assets/scss/mixins";

.menuNavbar {
  width: 100%;
  height: auto;
  margin-bottom: vw(30);
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    span {
      width: auto;
      height: auto;
      padding: vw(8) vw(16);
      border-radius: vw(5);
      text-transform: uppercase;
    }
  }
  &-link{
    &--active{
      span{
        color: #ffffff;
        background-color: #00ac4e;

      }
    }
  }
}
